@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fuentePrincipal: 'Montserrat', sans-serif;
    --primario: #705F7D;
    --blanco: #ffffff;
    --negro: #000000;
    --fondo: #b9abb2;
    --complementoFondo: linear-gradient(75deg, #b9abb2 0%, #705f7d 50%, #0c0c0c 100%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--fuentePrincipal);
    line-height: 2;
    background-color: var(--fondo);
    background-image: var(--complementoFondo);
}



/**globales**/

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul,
li {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuentePrincipal);
    line-height: 1.2;
}


h1 {
    font-size: 4.8rem;
}

h2 {

    font-size: 4rem;
}

h3 {

    font-size: 3.2rem;
}

h4 {

    font-size: 2.8rem;
}

img {
    max-width: 100%;

}


/**utilidades**/

.centrar-texto {
    text-align: center;
}

/**utilidades**/

/*empieza el nav*/

.nav__header {
    background: rgba(112, 95, 125, .3);
    height: 10rem;
    width: 100%;
    position: fixed;
    top: 0px;
}

.enlace {
    position: absolute;
    padding: 10px 50px;
}

.logo {
    height: 8rem;
}

nav ul {
    float: right;
    margin-right: 30px;
    padding-top: 1rem;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #F0F0F2;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 4rem;
    padding-left: 2rem;
    border-radius: 3px;

}

li a .oculto {
    opacity: 0;
    transition: .5s;
}

li a .oculto:hover {
    opacity: 100%;
}



.check-btn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*termina el nav*/



.fondo__header {
    background: url(/assets/img/pexels-pixabay-41949.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.header-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 100px;
    padding-top: 10rem;
}

.header-texto h1 {
    font-size: 15rem;
    font-weight: lighter;
    text-align: center;
}

.header-texto i {
    display: flex;
    font-size: 10rem;

    justify-content: space-between;
    justify-content: center;
}




.header-texto span {
    font-size: 10rem;
    color: var(--blanco);
    padding-top: 20rem;

}

.icon {
    font-size: 10rem;
    /* Tamaño del ícono */
    display: inline-block;
    animation: heartbeat 3s infinite;
}

@keyframes heartbeat {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    25% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1);
        opacity: 0.6;
    }

    75% {
        transform: scale(1.1);
        opacity: 0.8;
    }
}



@media(max-width:952px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}


@media (max-width: 768px) {
    .check-btn {
        display: block;
    }

    .header-texto h1 {
        font-size: 4rem;
    }

    .logo {
        height: 6rem;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 14px;
    }

    li a .oculto {
        opacity: 100%;
    }


    li a:hover,
    li a.active {
        background: none;
        color: red;
    }

    #check:checked~ul {
        left: 0;
    }
}


/*Estilos Main*/

.faq {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto_seccion2 h2 {
    color: var(--blanco);
    font-weight: lighter;
    padding-left: 20rem;
    padding-right: 20rem;
    text-align: center;
}


.flecha_abajo span {
    color: var(--blanco);
    font-size: 10rem;
    padding-top: 30rem;
}


/*why*/

.why {
    display: flex;
    flex-direction: row;
    height: 100vh;

}

.box {
    display: flex;

}

.box__img {
    flex-basis: 50%;
}

.box__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box__contenido {
    flex-basis: 50%;
    text-align: right;
    align-content: center;
}

.box__contenido h2 {
    font-size: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--blanco);
}

.box__contenido p {
    font-size: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.vuelta {
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .why {
        flex-direction: column;
    }

    .box {
        flex-direction: column;
    }

    .box__contenido h2 {
        font-size: 3rem;
        text-align: center;
    }

    .box__contenido p {
        font-size: 2rem;
        text-align: center;
        padding-bottom: 2rem;
    }
}


/*footer*/


footer .box__contenido {
    padding-right: 4rem;
    padding-top: 4rem;
}

footer i {
    font-size: 3rem;
    padding: 2rem;
    color: var(--blanco);
}

@media (max-width: 768px) {}


footer .footer__side2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__side2 h2 {
    font-size: 4rem;
    color: #fff;
}

.footer__side2 p {
    font-size: 3rem;
    color: #fff;
    padding-bottom: 2rem;
    text-align: center;
}


.form-container {
    background-color: var(--fondo);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 15px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 2rem;
}

.form-container textarea {
    grid-column: span 2;
    resize: vertical;
}

.form-container button {
    grid-column: span 2;
    padding: 10px;
    border: none;
    background-color: var(--primario);
    color: white;
    font-size: 2rem;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: var(--fondo);
}




@media (max-width: 768px) {
    footer .why {
        flex-direction: column-reverse;
    }


    .box__contenido h2 {
        font-weight: lighter;
    }

    .box__contenido p {
        font-size: 2rem;

    }

    footer i {
        padding-bottom: 3rem;
    }

    .footer__side2 h2 {
        font-size: 3rem;
        font-weight: lighter;
        padding-top: 2rem;
        color: #692020;
    }

    .footer__side2 p {
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        color: #fff;

        text-align: center;
    }


    .form-container {
        width: 100%;
        grid-template-columns: 1fr;
        /* Una columna para pantallas pequeñas */
    }

    .form-container textarea,
    .form-container button {
        grid-column: span 1;
        /* Los elementos ocupan una columna */
    }
}

/* Pag. Nosotros*/

.nosotros {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.text_header {
    color: var(--blanco);
    font-size: 4rem;
    font-weight: lighter;
    text-align: center;
    padding-right: 5rem;
    padding-left: 5rem;
}



.img_header i {
    color: var(--blanco);
}



.nosotros_caja {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.img_nosotros {
    flex-basis: 60%;
    display: flex;
}


.img_nosotros img {
    width: 100%;
    height: auto;
    padding-left: 5rem;
    border-radius: 5rem;
}

.text_nosotros {
    flex-basis: 40%;
    color: var(--blanco);
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    padding-right: 5rem;
    padding-left: 5rem;
}